body {
    background-color: darkslateblue;
}

#text {
    background-color: black;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
}

#game {
    max-width: 100%;
    max-height: auto;
    background-color: silver;
    color: white;
    margin: 0 auto;
    padding: 10px;
}

#controls {
    border: 1px solid black;
    padding: 5px;
}

#stats {
    border: 1px solid black;
    color: black;
    font-size: 14px;
    padding: 5px;
}

#monsterStats {
    display: none;
    border: 1px solid black;
    color: white;
    padding: 5px;
    background-color: navy;
}

.stat {
    padding-right: 10px;
}

#controls button {
    padding: 10px 20px;
    font-size: 16px;
}

#controls > #button_1 {
    background-color: lightblue;
}

#controls > #button_2 {
    background-color: lightyellow;
}

#controls > #button_3 {
    background-color: lightcoral;
}

#controls > #button_1:hover {
    background-color: rgb(40, 40, 255);
    opacity: 0.8;
}

#controls > #button_2:hover {
    background-color: rgb(255, 255, 40);
    opacity: 0.8;
}

#controls > #button_3:hover {
    background-color: rgb(255, 40, 40);
    opacity: 0.8;
}